@font-face {
    font-family: Gugi;
    src: url(./fonts/Gugi-Regular.ttf);
}

@font-face {
    font-family: Exo2;
    src: url(./fonts/Exo2-Regular.otf);
}


body{
    margin: 0;
}

header{
    font-family: 'Gugi';
}

main{
    font-family: 'Exo2'
}